
.reset-filters {
  color: color($colors, danger);
}


  ion-item .dot {
    height: 10px;
    display: inline-block;
    width: 10px;
    border-radius: 5px;
    margin-right: 10px;
  }


.chill ion-label {
  border-color: #AC282B
}.mainmeeting ion-label {
  border-color: #8E8D93
}.prayer ion-label {
  border-color: #FE4C52
}.seminarsession1 ion-label {
  border-color: #FD8B2D
}.seminarsession2 ion-label {
  border-color: #FED035
}.misc ion-label {
  border-color: #69BB7B
}.food ion-label {
  border-color: #3BC7C4
}.seminarsession3 ion-label {
  border-color: #B16BE3
}