<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-list>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *ngFor="let speaker of speakers" approxItemHeight="457px">

          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToSpeakerDetail(speaker)">
                <ion-avatar item-start>
                  <img [src]="speaker.profilePic" alt="Speaker profile pic">
                </ion-avatar>
                {{speaker.name}}
              </button>
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                <button ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail(session)">
                  <h2>{{session.tracks[0]}} - </h2> <h4>{{session.name}}</h4>
                </button>

                <button ion-item (click)="goToSpeakerDetail(speaker)">
                  <h3>About {{speaker.name}}</h3>
                </button>
              </ion-list>
            </ion-card-content>

          </ion-card>

        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>
